{% extends "ApplicationBundle::layout.html.twig" %}

{% block title %}Horários - {% endblock %}
{% block page_title %}Horários{% endblock %}

{% block content %}

	{% if is_granted( "ROLE_SUPER_ADMIN" ) %}
        <div class="col-md-12">
	        <div class="portlet light bordered">
	            <div class="portlet-title">
	                <div class="caption">
	                    <span class="caption-subject uppercase font-blue-hoki"><i class="fa fa-fw fa-search"></i> pesquisar</span>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <form action="{{ path( "_schedule_search" ) }}" method="get">

	                    <div class="row">
	                        <div class="col-md-3">
	                            <div class="form-group">
	                                <label>Usuários</label>
	                                <select name="users_id" class="form-control">
	                                    {% for user in users %}
	                                        <option value="{{ user.id }}" {{ ( params.users_id is defined and params.users_id == user.id ) ? "selected" }}>{{ user.name }}</option>
	                                    {% endfor %}
	                                </select>
	                            </div>
	                        </div>
	                        <div class="col-md-4">
	                            <div class="form-group">
	                                <label>Busca por Data</label>
	                                <div class="row">
	                                    <div class="col-md-12">
	                                        <div class="row">
	                                            <div class="col-md-7">
	                                                <select name="month" class="form-control">
	                                                    {% for i in range( 1, 12 ) %}
	                                                        <option value="{{ i }}">{{ i|monthName }}</option>
	                                                    {% endfor %}
	                                                </select>
	                                            </div>
	                                            <div class="col-md-5">
	                                                <select name="year" class="form-control">
	                                                    {% for i in "now"|date( "Y" )..2015 %}
	                                                        <option value="{{ i }}">{{ i }}</option>
	                                                    {% endfor %}
	                                                </select>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>

	                    <hr />

	                    <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-search"></i> Pesquisar informações</button>
	                    <a href="{{ path( '_schedule_index' ) }}" class="btn btn-link">Limpar busca</a>

	                </form>
	            </div>
	        </div>
	    </div>
	{% endif %}

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject uppercase font-blue-dark">lista dos horários</span>
                </div>

                <a href="#modal" class="btn green-meadow pull-right margin-left-20 open-modal" data-toggle="modal" data-action="{{ path( "_schedule_new" ) }}">
                    <i class="fa fa-fw fa-clock-o"></i> Adicionar meu horário
                </a>

                <a href="{{ path( "_schedule_now" ) }}" class="btn grey-cararra pull-right" id="add-in-schedule-actual-time">
                    <i class="fa fa-fw fa-check-circle-o"></i> Adicionar hora atual
                </a>
            </div>
            <div class="portlet-body">

                {% if schedules|length > 0 %}
                    <table class="table table-striped table-bordered table-hover table-advance table-condensed">
                        <thead>
                            <tr>
	                            {% if is_granted( "ROLE_SUPER_ADMIN" ) %}
                                    <th width="35%"><i class="fa fa-fw fa-user"></i> Usuário</th>
	                            {% endif %}

                                <th class="text-center" width="8%"><i class="fa fa-fw fa-calendar-o"></i> Dia</th>
                                <th class="text-center" width="8%"><i class="fa fa-fw fa-arrow-circle-down font-green-meadow"></i> Entrada</th>
                                <th class="text-center" width="8%"><i class="fa fa-fw fa-arrow-circle-up font-red-intense"></i> Saída</th>
                                <th class="text-center" width="10%"><i class="fa fa-fw fa-clock-o"></i> Total do dia</th>

	                            {% if is_granted( "ROLE_SUPER_ADMIN" ) %}
	                                <th class="text-center" width="1%"><!-- --></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% set totalTimestamp = [] %}

                            {% for schedule in schedules %}
                                {% set totalTimestamp = ( schedule.difference is not null ) ? totalTimestamp|merge( [ schedule.difference|date( "H:i:s" ) ] ) : totalTimestamp|merge( [ 0 ] ) %}
                                <tr>
	                                {% if is_granted( "ROLE_SUPER_ADMIN" ) %}
                                        <td>{{ schedule.0.users.username }}</td>
	                                {% endif %}

                                    <td class="text-center">{{ schedule.d|date( "d/m/Y" ) }}</td>
                                    <td class="text-center">{{ schedule.start|date( "H:i:s" ) }}</td>
                                    <td class="text-center">{{ schedule.finish|date( "H:i:s" ) }}</td>
                                    <td class="text-center">{{ schedule.difference|date( "H:i:s" ) }}</td>

	                                {% if is_granted( "ROLE_SUPER_ADMIN" ) %}
	                                    <td class="text-center">
	                                        {% if schedule.difference >= "08:00:00" %}
	                                            <i class="fa fa-fw fa-check-circle-o font-green-meadow"></i>
	                                        {% else %}
	                                            <i class="fa fa-fw fa-times-circle font-red-intense"></i>
	                                        {% endif %}
	                                    </td>
	                                {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="{{ is_granted( "ROLE_SUPER_ADMIN" ) ? 4 : 3 }}" class="text-right">Total do mês <i class="fa fa-fw fa-calendar-o"></i></td>
                                <td class="text-center">{{ totalTimestamp|sumTime }}</td>
	                            {% if is_granted( "ROLE_SUPER_ADMIN" ) %}
		                            <td>{# --- #}</td>
	                            {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p class="font-grey-cascade">Nenhum horário cadastrado. <a href="#modal" class="open-modal" data-toggle="modal" data-action="{{ path( "_schedule_new" ) }}">Clique aqui</a> para cadastrar um horário.</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}