<div class="row">
    <div class="col-md-12">
        {#<form action="{{ path( "_schedule_create" ) }}" method="post" id="form-schedule-create">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Horário</label>
                        <input type="text" name="time" autocomplete="off" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Ação</label>
                        <select name="schedules_type_id" class="form-control" required>
                            <option value=""></option>
                            {% for scheduleType in schedulesType %}
                                <option value="{{ scheduleType.id }}">{{ scheduleType.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <hr />

            <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-plus-circle"></i> Adicionar horário</button>

            <a href="#modal" data-toggle="modal" class="btn btn-link">Cancelar</a>
        </form>#}

	    {{ form_start( form ) }}
		    <div class="row">
			    <div class="col-md-6">
				    <div class="form-group">
					    <label>Horário</label>
					    {{ form_widget( form.createdAt ) }}
				    </div>
			    </div>
			    <div class="col-md-6">
				    <div class="form-group">
					    <label>Tipo de horário</label>
					    {{ form_widget( form.scheduleType, { attr: { class: 'form-control' } } ) }}
				    </div>
			    </div>
		    </div>

		    <hr />

		    <button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-plus-circle"></i> Adicionar horário</button>

		    <a href="#modal" data-toggle="modal" class="btn btn-link">Cancelar</a>
	    {{ form_end( form ) }}
    </div>
</div>

{% javascripts '@ApplicationBundle/Resources/public/js/schedule/main.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}