<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			{% if is_granted( "ROLE_SUPER_ADMIN" ) %}
				<li class="{{ app.request.get( "_route" ) matches( "/_user_(.*)/" ) ? "active" }}">
					<a href="{{ path( '_user_index' ) }}">
						<i class="fa fa-fw fa-users"></i>
						<span class="title">Usuários</span>
					</a>
				</li>
			{% elseif is_granted( "ROLE_USER" ) %}
				<li class="{{ app.request.get( "_route" ) matches( "/_user_(.*)/" ) ? "active" }}">
					<a href="{{ path( '_schedule_edit', { 'id': app.security.getToken().getUser().getId() } ) }}">
						<i class="fa fa-fw fa-user-md"></i>
						<span class="title">Meus dados</span>
					</a>
				</li>
			{% endif %}
			<li class="{{ app.request.get( "_route" ) matches( "/_schedule_(.*)/" ) ? "active" }}">
				<a href="{{ path( '_schedule_index' ) }}">
					<i class="fa fa-fw fa-clock-o"></i>
					<span class="title">Horário</span>
				</a>
			</li>
		</ul>
	</div>
</div>