<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Metronic | Login Form 2</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<link href="{{ asset( "assets/global/plugins/font-awesome/css/font-awesome.min.css" ) }}" rel="stylesheet"
	      type="text/css" />
	<link href="{{ asset( "assets/global/plugins/uniform/css/uniform.default.css" ) }}" rel="stylesheet"
	      type="text/css" />

    <link href="{{ asset( "assets/global/plugins/bootstrap/css/bootstrap.min.css" ) }}" rel="stylesheet" type="text/css"/>


    <link href="{{ asset( "assets/admin/pages/css/login2.css" ) }}" rel="stylesheet" type="text/css"/>

    <link href="{{ asset( "assets/global/css/components.css" ) }}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{{ asset( "assets/global/css/plugins.css" ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset( "assets/admin/layout/css/layout.css" ) }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset( "assets/admin/layout/css/themes/default.css" ) }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset( "assets/admin/layout/css/custom.css" ) }}" rel="stylesheet" type="text/css"/>

    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body class="login">

    <div class="menu-toggler sidebar-toggler">
    </div>

    <div class="logo">
        <a href="index.html">
            <img src="{{ asset( "assets/admin/layout3/img/logo-big-white.png" ) }}" style="height: 17px;" alt=""/>
        </a>
    </div>

    <div class="content">


        {% block body %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </div>
    <div class="copyright hide">
        2014 © Metronic. Admin Dashboard Template.
    </div>

    <script>var DEFAULT = "{{ app.request.getBaseURL() }}/";</script>
    {% block javascript %}
	    {% javascripts
	    'assets/global/plugins/jquery.min.js'
	    'assets/global/plugins/jquery-migrate.min.js'
	    'assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
	    'assets/global/plugins/bootstrap/js/bootstrap.min.js'
	    'assets/global/plugins/uniform/jquery.uniform.min.js'
	    'assets/global/scripts/metronic.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	    {% endjavascripts %}
    {% endblock %}

    <script>
	    jQuery( document ).ready( function()
	    {
		    Metronic.init();
	    } );
    </script>
</body>
</html>




