{% extends "ApplicationBundle::layout.html.twig" %}
   
{% block title %}Felipe{% endblock %}

{% block body %}
   
   <ul>
      {% for name in names %}
         <li>{{ name }}</li>
      {% endfor %}
   </ul>
   
{% endblock %}

<a href="{{ path( "_sis_default" ) }}"