{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<form action="{{ path( "fos_user_security_check" ) }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<div class="form-title">
			<span class="form-title">Bem vindo.</span>
			<span class="form-subtitle">Faça o login para acessar o sistema.</span>
		</div>

		{% for type, messages in app.session.flashbag.all() %}
			<div class="alert alert-danger">
				{% for message in messages %}
					<span>
						{{ message }}
					</span>
				{% endfor %}
			</div>
		{% endfor %}

		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Login</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Login" id="username" name="_username" />
		</div>

		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Senha</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Senha" id="password" name="_password" />
		</div>

		<div class="form-group">
			<label for="remember_me" class="rememberme check">
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Lembrar do login
			</label>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary btn-block uppercase">Login</button>
		</div>
	</form>
{% endblock %}