{% extends "ApplicationBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject uppercase font-blue-dark"></span>
					</div>
				</div>
				<div class="portlet-body">

					{{ form_start( edit_form ) }}
						{{ form_errors( edit_form ) }}

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>{{ form_label( edit_form.name ) }}</label>
									{{ form_widget( edit_form.name ) }}
								</div>

								<div class="form-group">
									<label>{{ form_label( edit_form.email ) }}</label>
									{{ form_widget( edit_form.email ) }}
								</div>

								<div class="form-group">
									<label>{{ form_label( edit_form.password ) }}</label>
									{{ form_widget( edit_form.password ) }}
								</div>

								<div class="form-group">
									<label>{{ form_label( edit_form.active ) }}</label>
									{{ form_widget( edit_form.active ) }}
								</div>
							</div>
						</div>

						<hr />

						<button type="submit" class="btn blue-madison"><i class="fa fa-fw fa-check-circle"></i> Salvar</button>
						<a href="{{ path( "_user_index" ) }}" class="btn btn-link">Cancelar</a>
					{{ form_end( edit_form ) }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
