{% extends "ApplicationBundle::layout.html.twig" %}

{% block title %}Usuários - {% endblock %}
{% block page_title %}Usuários{% endblock %}

{% block content -%}
   <div class="col-md-12">
      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject uppercase font-blue-hoki"><i class="fa fa-fw fa-search"></i> pesquisar</span>
            </div>
         </div>
         <div class="portlet-body">

         </div>
      </div>
   </div>

   <div class="col-md-12">
      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject uppercase font-blue-dark">lista dos horários</span>
            </div>
            
            <a href="{{ path( "_user_new" ) }}" class="btn green-meadow pull-right">
               <i class="fa fa-fw fa-plus-square"></i> Adicionar novo usuário
            </a>
         </div>
         <div class="portlet-body">

            {% if entity|length > 0 %}
               
               <table class="table table-striped table-bordered table-hover table-advance table-condensed">
                  <thead>
                     <tr>
                        <th class="text-center" width="3%">#</th>
                        <th class="text-left">Nome</th>
                        <th class="text-left">E-mail</th>
                        <th class="text-center" width="10%">Criado em</th>
                        <th class="text-center" width="10%"><!-- --></th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for entities in entity %}
                        <tr>
                           <td class="text-center">{{ entities.id }}</td>
                           <td>{{ entities.username }}</td>
                           <td>{{ entities.email }}</td>
                           <td class="text-center">{% if entities.createdAt %}{{ entities.createdAt|date( "d/m/Y" ) }}{% endif %}</td>
                           <td class="text-center">
                              <a href="{{ path( "_user_edit", { "id": entities.id } ) }}" class="btn btn-xs blue-dark"><i class="fa fa-fw fa-pencil"></i></a>
                              <a href="{{ path( "_user_delete", { "id": entities.id } ) }}" class="btn btn-xs red-flamingo"><i class="fa fa-fw fa-times"></i></a>
                           </td>
                        </tr>
                     {% endfor %}
                  </tbody>
               </table>

            {% else %}
               <p class="font-grey-cascade">Nenhum usuário cadastrado. <a href="{{ path( "_user_new" ) }}">Clique aqui</a> para cadastrar um horário.</p>
            {% endif %}

         </div>
      </div>
   </div>

{% endblock %}
