{% extends "ApplicationBundle::layout.html.twig" %}

{% block title %}Usuários - {% endblock %}
{% block page_title %}Adicionando Usuário{% endblock %}

{% block content %}

   <div class="col-md-12">
      <div class="portlet light bordered">
         <div class="portlet-title">
            <div class="caption">
               <span class="caption-subject uppercase font-blue-chambray"><i class="fa fa-fw fa-user"></i> Adicionando usuário</span>
            </div>
         </div>
         <div class="portlet-body">
            {{ form_start( form ) }}
            
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        {{ form_label( form.name ) }}
                        {{ form_widget( form.name ) }}
                     </div>

                     <div class="form-group">
                        {{ form_label( form.email ) }}
                        {{ form_widget( form.email ) }}
                     </div>

                     <div class="form-group">
                        {{ form_label( form.password ) }}
                        {{ form_widget( form.password ) }}
                     </div>

                     <div class="form-group">
                        {{ form_label( form.active ) }}
                        {{ form_widget( form.active ) }}
                     </div>
                  </div>
               </div>
                     
               <hr />

               <button type="submit" class="btn blue-hoki"><i class="fa fa-fw fa-check-circle-o"></i> Salvar</button>
               <a href="{{ path( "_user_index" ) }}" class="btn bnt-link">Cancelar</a>
            
            {{ form_end( form ) }}
         </div>
      </div>
   </div>

{% endblock %}
